* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  --color-brand: #ca3884;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f5fb;
}

header {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}

main {
  width: 627px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  position: relative;
}

a {
  color: var(--color-brand);
  text-decoration: none;
}

h1 {
  font-size: 24px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

form {
  display: flex;
  gap: 1rem;
}

form input {
  border-radius: 0.5rem;
  border: 2px solid #d1d5db;
  flex: 1;
  padding: 0.7rem;
}

form input:focus {
  border: 2px solid var(--color-brand);
  outline: none;
}

form button {
  background: var(--color-brand);
  border-radius: 12px;
  color: white;
  padding: 0.5rem;
  width: 8rem;
  border: 0;
  cursor: pointer;
}

.list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.wrapper-list {
  padding: 15px 15px;

  border-radius: 5px;

  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.wrapper-list button {
  all: unset;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.wrapper-list input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(./assets/img/icons/checkbox-default.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.wrapper-list input[type="checkbox"]:focus {
  background-image: url(./assets/img/icons/checkbox-hover.svg);
}

.wrapper-list input[type="checkbox"]:checked {
  background-image: url(./assets/img/icons/checkbox-checked.svg);
}

.alert {
  max-width: 627px;
  padding: 5px;
  color: #ffffff;
  background-color: #c93847;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
  padding: 0.5rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 14px;
  gap: 8px;

  & button {
    all: unset;
    cursor: pointer;
    margin-left: auto;
  }
}

.alert.show {
  bottom: -50px;
  opacity: 1;
}

.alert.hide {
  bottom: -50px;
  opacity: 0;
}
